@* makes the file into an MVC action, which means that it handles requests directly, without going through a controller *@
@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
    //var linkUrl = Url.Action("Index", "Home");

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's help.</p>
