@* makes the file into an MVC action, which means that it handles requests directly, without going through a controller *@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen in unserem Medizingeschäft</h1>
 </div>

@Model.Message

<div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-secondary" asp-page="/MedicineCreationService/MedicineCreation">Create</a>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ATC code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var medicine in Model.Medicine)
            {
                <tr>
                    <td>@medicine.Name</td>
                    <td>@medicine.ATCCode</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>